body {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    background-image: url(https://www.cpacanada.ca/-/media/site/operational/rg-research-guidance-and-support/images/02492-rg.jpg);
    color: white;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}


fieldset{
    text-align: right;
    align-content: right;
    justify-content: right;
    justify-content: end;
}


a{
    color: white;
}
img {
    height: 800px;
    width: 800px;
    align-items: center;
    margin: 10%;
   
}
video{
  align-items: center;
}


